:root {
  --font-color: #fff;
  --font-style: 'Roboto';
  --background-color: #113;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background-color: var(--background-color);
  color: var(--font-color);
  box-sizing: border-box;
}

header {
  width: 100%;
  height: min-content;
  text-align: left;
  font-style: italic;
  padding: 0 20px;
  box-sizing: border-box;
}

.Title {
  margin-left: 20px;
  text-decoration: underline ;
}

main {
  max-width: 100%;
  box-sizing: border-box;
}

