:root {
  --font-color: #fff;
  --font-style: 'Roboto';
  --background-color: #113;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background-color: var(--background-color);
  color: var(--font-color);
  box-sizing: border-box;
}

header {
  width: 100%;
  height: min-content;
  text-align: left;
  font-style: italic;
  padding: 0 20px;
  box-sizing: border-box;
}

@media screen and ( width <= 425px ) {
  header {
    display: none;
  }
}

.Title {
  width: fit-content;
  margin-left: 20px;
  font-family: "Lucida Sans";
  font-style: italic;
  padding: 8px 17px 5px;
  border-radius: 15px;
  border: 2px solid #fff;
  background-color: #114;
}

main {
  max-width: 100%;
  box-sizing: border-box;
}

