#perfil {
    width: 100%;
    height: calc(100vh - 82.88px);
    min-height: fit-content;
    padding-bottom: 20px;
    background-image: linear-gradient(#113, #118, #118, #113);
    justify-content: center;
    box-sizing: border-box;
    z-index: 11;
}

/* Inputs */

input {
    padding: 0 5px;
    margin: 10px;
    height: 30px;
    text-align: center;
    font-size: 1.2rem;
    border: 1px solid #12f;
    border-radius: 10px;
    background-color: #118;
    color: #fff;
}

#userCheckMail {
    width: 200px;
}

#userCheckMail:invalid {
    color: #f66;
}

#userCheckMail:valid {
    color: #6f6;
}

#userCheckPassword {
    width: 150px;
    margin-top: 20px;
}

/* Login page */

.login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-bottom: 40px;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #115;
    border: 2px solid #12f;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 20px;
}

.login-box > h3, .login-box > p {
    font-size: 1.2em;
    width: 100%;
    text-align-last: left;
    padding-left: 10px;
}

.loging-zone {
    width: 100%;
    margin-top: 10px;
    display: flex;
}

.loging-zone > *{
    margin: auto;
}

/* Register page */

.register {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-bottom: 40px;
}

.register-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #115;
    border: 2px solid #12f;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 20px;
}

.register-box > h3, .register-box > p {
    font-size: 1.2em;
    width: 100%;
    text-align-last: left;
    padding-left: 10px;
}

#userGender {
    padding: 0 5px;
    margin: 10px;
    height: 25px;
    text-align: center;
    border: 1px solid #12f;
    border-radius: 10px;
    background-color: #118;
    color: #fff;
}

/* Perfil Page */

.post-login {
    position: relative;
    width: 90%;
    min-height: 80%;
    height: max-content;
    margin: auto;
    border: 2px solid #12f;
    border-radius: 20px;
    background-image: radial-gradient(#113, #113, #113, #113, #000);
    flex-wrap: wrap;
    display: flex;
    padding: 15px;
    box-sizing: border-box;
}

#user-image {
    width: 30vw;
    max-width: 200px;
    height: 30vw;
    max-height: 200px;
    border: 3px solid #12f;
    border-radius: 50%;
    background-color: #000;
    box-sizing: border-box;
}

.inf-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 270px;
    margin: 10px;
    margin-bottom: 31px;
    border: 3px solid #12f;
    font-style: oblique;
    border-radius: 20px;
    padding: 20px;
    text-align: left;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-block: auto;
}

.list-sociales {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0;
}

.end-sesion {
    position: absolute;
    display: block;
    bottom: 8px;
    left: 8px;
}

.edit-perfil {
    position: absolute;
    display: block;
    bottom: 8px;
    right: 8px;
}

/* Editar Perfil */

.editPerfil {
    display: flex;
    border: 2px solid #12f;
    border-radius: 20px;
    background-image: radial-gradient(#113, #113, #113, #113, #000);
    flex-wrap: wrap;
    padding: 25px;
}

textarea {
    display: flex;
    font-size: 1.2em;
    padding: 0 5px;
    margin: 10px;
    margin-bottom: 40px;
    min-width: 179px;
    max-width: 179px;
    min-height: 50px;
    max-height: fit-content;
    text-align: center;
    border: 1px solid #12f;
    border-radius: 10px;
    background-color: #118;
    color: #fff;
    box-sizing: border-box;
    size-adjust: auto;
}

select {
    display: flex;
    padding: 5px 10px;
    margin: 5px;
    text-align: center;
    border: 1px solid #12f;
    border-radius: 10px;
    background-color: #118;
    color: #fff;
    box-sizing: border-box;
}

.changeImage {
    display: flex;
    width: 30vw;
    max-width: 200px;
    height: 30vw;
    max-height: 200px;
    align-items: center;
    justify-content: center;
    border: 3px solid #12f;
    border-radius: 50%;
    background-color: #000;
    box-sizing: border-box;
}

.FinishButton {
    position: absolute;
    margin: 0;
    bottom: 5px;
    right: 5px;
}