.nav-bar-system {
    width: 100%;
    padding: 20px 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    border: 1px solid #12f;
    border-top: 0 solid;
    border-bottom: 3px solid #12f;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.nav-bar-system > a {
    margin: auto;
}

button {
    color: #fff;
    background-image: radial-gradient(#12f,#113);
    border: 2px solid transparent;
    border-radius: 15px;
    padding: 5px 7px;
    text-decoration: none;
    margin: auto;
    text-align: center;
}

button:hover {
    background-image: radial-gradient(#113, #12f);
    border-color: #12f;
    outline: 2px solid #fff;
    outline-offset: 1px;
}

button:active {
    border-color: #fff;
    outline: 2px solid #12f;
    outline-offset: 1px;
    color: #fff;
    background-color: #12f;
}

.Button_Lateral {
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
    border-top-right-radius: 0;
    z-index: 10;
}

/* NAV-BAR-LATERAL */

.page {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #1138;
    z-index: 5;
}

.nav-container {
    width: 40%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 5px;
    justify-content: center;
    background-color: #113b;
    border: 1px solid #21e;
    border-bottom: 1px solid #21e;
    border-left: 3px solid #21e;
    border-bottom-left-radius: 50px;
    box-sizing: border-box;
    z-index: 9;
}

.nav-container .object-list {
    padding: 0;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
}

.list-container {
    list-style: none;
    padding: 0;
    margin: 0;
}

.object-list {
    margin: 20px 0;
}

.title {
    margin: 30px auto;
    padding: 4px 15px;
}

.text-adjacent {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
    box-sizing: border-box;
    padding: 0 10%;
    font-size: 0.9em;
    text-align: justify;
    font-style: oblique;
    text-shadow: 0 0 10px #aaa;
}

.users-terms {
    display: flex;
    width: 60%;
    margin: 20px auto;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.terms {
    text-decoration: none;
    color: #fff;
    margin: 10px auto;
}