main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

section {
    position: relative;
    width: 100%;
    padding: 0 15%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
}

h2 {
    width: min-content;
    text-wrap: none;
    padding: 5px 10px;
    background-image: linear-gradient(#113, #113,#113, #12f);
    border-bottom: 2px solid #12f;
    border-radius: 10px;
    margin: 15px;
    transition: all 0.5s;
}

/* Book-Secction */

.book-container {
    width: 100%;
    margin-bottom: 25px;
}

.book-section {
    height: fit-content;
    padding: 30px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #13e;
    outline: 1px solid #13e;
    outline-offset: 5px;
    border-radius: 10px;
}

#add-button {
    width: 30px;
    height: 30px;
    margin: 45px 170px;
    border-radius: 50%;
    text-align: center;
}

#Edicion #add-button {
    width: 90px;
    height: 30px;
    margin: 45px 150px;
    border-radius: 20px;
    text-align: center;
}

.book {
    display: flex;
    width: 350px;
    height: 120px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 10px;
    box-sizing: border-box;
}

.book-image {
    display: inline-block;
    width: 25%;
    height: 100%;
    margin-right: 5%;
    border: 1px solid #fff;
    border-radius: 10px;
}

.book-info {
    display: inline-block;
    width: 60%;
    height: 90%;
    margin: auto auto;
    font-size: 0.8em;
    text-align: left;
    border-right: 1px solid #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.book:hover {
    border: 1px solid #12f;
    .book-image {
        border: 1px solid #12f;
        outline: 3px solid #12f;
    }
    .book-info {
        border-right: 1px solid #12f;
    }
}

.book p {
    margin: 5px;
}

/* User Section */

.userList {
    display: flex;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 5px 40px;
    flex-grow: 1;
    justify-content: left;
    box-sizing: border-box;
    overflow-x: auto;
}

@media screen and (width > 768px) {
    .userList {
        justify-content: center;
    }
}

.UserContaniner {
    display: flex;
    min-width: 200px;
    max-width: 200px;
    min-height: 160px;
    padding: 0 5px;
    margin: 0 10px;
    text-align: left;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-bottom-left-radius: 20px;
    box-sizing: border-box;
    transition: border-color 0.3s, background-color 0.3s, border-radius 0.3s;
}

.UserContaniner > * {
    transition: max-height 0.3s;
    interpolate-size: allow-keywords;
}

.contentUserDescription {
    max-height: 0;
    overflow: hidden;
    text-shadow: 0 0 10px #aaa;
}

.UserContaniner:hover {
    border-color: #12f;
    background-color: #115;
    border-radius: 20px;
    .contentUserAge {
        margin: 0;
        max-height: 0;
        overflow: hidden;
    }
    .contentUserGender {
        margin: 0;
        max-height: 0;
        overflow: hidden;
    }
    .contentUserDescription {
        max-height: 100%;
        text-align: center;
        justify-content: center;
    }
}

/* INICIO */

.Inicio {
    padding: 0;
}

.SearchBox {
    width: 100%;
    align-items: center;
}

.initial-text {
    margin: 0;
    padding: 0 15%;
    text-align: justify;
    width: 90%;
    max-height: 0;
    overflow: hidden;
    font-style: oblique;
    text-shadow: 0 0 10px #aaa;
    transition: max-height 0.5s, margin 0.5s;
    interpolate-size: allow-keywords;
    box-sizing: border-box;
}

.IniHeader:hover {
    background-image: linear-gradient(#12f, #24f, #24f, #24f);
    color: #113;
    font-style: italic;
}

.IniHeader:hover + .initial-text, 
.IniHeader:hover ~ .initial-text {
    margin: 15px;
    max-height: fit-content;
}

#searchBook {
    width: 80%;
    padding: 0 5px;
    height: 25px;
    margin-top: 10px;
    text-align: center;
    border: 1px solid #12f;
    border-radius: 10px;
    background-color: #118;
    color: #fff;
    transition: position 0.5s;
}

#searchBook:focus {
    outline: 1px solid #fff;
    outline-offset: 1px;
}

/* Sistema de busqueda y herramientas del inicio */

.initSearchSystem {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.listSistem {
    list-style: none;
    margin: 0;
    padding: 0;
}

.searchOptions {
    margin: 10px;
}

/* Edicion */

#CreateBook h2 {
    width: fit-content;
}

.Constructor {
    padding: 20px 40px;
    border-radius: 20px;
    border: 1px solid #12f;
}

.campo {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: min-content;
    border-right: 1px solid #12f;
    border-radius: 25px;
}

.campo > input {
    margin-top: 0;
}

#campo-portada {
    width: 100%;
    flex-direction: row;
}

#campo-portada > input {
    width: 20px;
    height: 60px;
}

/* Media querys */

@media screen and (width <= 425px) {
    section{
        padding: 0 5px;
        font-size: 0.8em;
    }
    .book-section {
        overflow-x: auto;
        overflow-anchor: auto;
        align-items: start;
    }
    .book {
        width: 280px;
        height: 90px;
    }
}

@media screen and ( width < 426px ) {
    .book {
        width: 300px;
    }
    #add-button {
        margin: 45px 60px;
    }
    #Edicion #book-section #CreateBook {
        margin: 45px 60px;
    }
}