#perfil {
    width: 100%;
    height: calc(100vh - 82.88px);
    border: 1px solid #12f;
    border-top: 1px solid transparent;
    background-image: linear-gradient(#113, #118, #118, #113);
    justify-content: center;
    box-sizing: border-box;
    z-index: 11;
}

/* Inputs */

input {
    padding: 0 5px;
    margin: 10px;
    height: 25px;
    text-align: center;
    border: 1px solid #12f;
    border-radius: 10px;
    background-color: #118;
    color: #fff;
}

#userCheckMail {
    width: 200px;
}

#userCheckMail:invalid {
    color: #f66;
}

#userCheckMail:valid {
    color: #6f6;
}

#userCheckPassword {
    width: 150px;
    margin-top: 20px;
}

/* Login page */

.login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-bottom: 40px;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #115;
    border: 2px solid #12f;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 20px;
}

.login-box > h3, .login-box > p {
    font-size: 1.2em;
    width: 100%;
    text-align-last: left;
    padding-left: 10px;
}

.loging-zone {
    width: 100%;
    margin-top: 10px;
    display: flex;
}

.loging-zone > *{
    margin: auto;
}

/* Register page */

.register {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-bottom: 40px;
}

.register-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #115;
    border: 2px solid #12f;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 20px;
}

.register-box > h3, .register-box > p {
    font-size: 1.2em;
    width: 100%;
    text-align-last: left;
    padding-left: 10px;
}

#userGender {
    padding: 0 5px;
    margin: 10px;
    height: 25px;
    text-align: center;
    border: 1px solid #12f;
    border-radius: 10px;
    background-color: #118;
    color: #fff;
}
