main {
    width: 70%;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
}

h2 {
    width: min-content;
}

.lazy-loading {
    width: min-content;
    font-size: 1.2em;
}

/* Book-Secction */

.book-container {
    width: 100%;
}

.book-section {
    padding: 30px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #13e;
    outline: 1px solid #13e;
    outline-offset: 5px;
    border-radius: 10px;
}

#add-button {
    width: 40px;
    height: 40px;
    margin: 55px 180px;
    border-radius: 50%;
}

.book {
    display: flex;
    width: 400px;
    height: 150px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    box-sizing: border-box;
}

.book-image {
    width: 40%;
    margin-right: 5%;
    border: 1px solid #fff;
    border-radius: 10px;
}

.book-info {
    font-size: 0.8em;
    text-align: left;
    border-right: 1px solid #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}